
#reko2 {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
#reko {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}